main {
  margin-left: 20px;
  margin-right: 20px;
}

hr {
  margin-top: 50px;
  color: #e1e1e1;
}

h1 {
  font-size: 32px;
  margin-top: 45px;
  margin-bottom: 30px;
}

p {
  font-size: 14px;
  line-height: 2;
  margin-top: -5px;
}

h3 {
  font-size: 28px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.mig2 img {
  align-items: center;
  height: auto;
  width: 404px;
  margin-top: 10px;
  margin-left: -8px;
}

.logoer img {
  height: 28px;
  width: 28px;
}

.logoer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 700px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    font-size: 54px;
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  hr {
    margin-top: 106px;
  }

  p {
    font-size: 22px;
    line-height: 2;
    margin-top: -5px;
    margin-left: 20px;
  }

  h3 {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .mig2 img {
    height: auto;
    width: 1450px;
    margin-top: 15px;
    border-radius: 20px;
  }

  .logoer img {
    height: 28px;
    width: 28px;
    padding: 10px;
  }

  .logoer {
    margin-left: 10px;
    margin-right: 10px;
  }

  .logoer {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* grid */
  .container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  .display_1 {
    grid-column: 1;
    margin-right: 31px;
  }

  .display_2 {
    grid-column: 2;
    text-align: right;
  }
}
